@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body, h1, img, etc */
@layer base {
  body {
    @apply bg-black text-white;
  }

  header {
    @apply fixed top-0 w-full z-50 transition-all duration-[.4s] ease-in-out py-[24px];
  }
}

/* Custom Classes */
@layer components {
  .wrapper {
    @apply max-w-[1717px] w-full mx-auto px-[20px];
  }

  .menu-item {
    @apply text-[16px] leading-[1] tracking-[2px] uppercase;
  }

  .menu-link {
    @apply py-[43px] hover:opacity-75 transition duration-[.3s];
  }

  .banner-btn {
    @apply cursor-pointer inline-block gap-x-2 text-center rounded-[44px] px-[30px] py-[15px] uppercase text-[14px] leading-[1] tracking-[2] font-bold transition ease-in-out duration-[.3s];
  }

  .splide__arrow {
    @apply absolute top-[50%] transform translate-y-[-50%];
  }

  .splide__arrow--prev {
    @apply left-[15px];
  }

  .splide__arrow--next {
    @apply right-[15px];
  }

  .modal-gradient {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #121212 100%);
  }

  body.modal-open {
    overflow: hidden;
  }

  body.modal-open .modal-content {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.5s ease-in-out;
    z-index: 30;
  }

  .modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(100%);
    opacity: 0;
    display: none;
    z-index: -30;
    transition: all 0.5s ease-in-out;
  }
}
